<body>
    <div class="place-order-container">
        <button class="back-button"><a href="/buyer-cart">Back</a></button>
        <h2>Place Your Order</h2>
        <div class="order-summary">
          <h3>Order Summary</h3>
          <ul>
            <li *ngFor="let item of orderDetails.items">
              <img [src]="item.imageUrl" alt="{{ item.name }}">
              <div class="item-details">
                <h3>{{ item.name }} by {{ item.creator }}</h3>
                <p><b>Price:</b> ₱{{ item.price }}</p>
                <p><b>Size:</b> {{ item.size }}</p>
                <p><b>Description:</b> {{ item.description }}</p>
              </div>
            </li>
          </ul>
          <h3>Total Price: ₱{{ orderDetails.totalPrice.toFixed(2) }}</h3>
        </div>
        <div class="payment-options">
          <h3>Payment Method</h3>
          <label>
            <input type="radio" name="payment" value="gcash" (change)="selectPaymentMethod('GCash')"> GCash
          </label>
          <label>
            <input type="radio" name="payment" value="cash" (change)="selectPaymentMethod('Cash')"> Cash
          </label>
          <button (click)="confirmOrder()">Confirm Order</button>
        </div>
      </div>
    
</body>